body {
  background-color: white;
}
/* thats our title information */
h1 {
  color: rgb(77, 249, 192);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2{
  color: rgb(77, 249, 192);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 50px;  
}

#click{
  font-size: 50px;
 color: rgb(73, 73, 131); 
 font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#click:hover{
    color: white ;
}
/* thats javascripts hover information */
a:hover {
  color: white ;
  background-color: rgb(73, 73, 131);
  padding: 15px 20px;
  border-radius: 15px;
  margin-left: 0px;
}
/* thats javascripts informaition  */
a {
  margin-left: 15px;
  color: rgb(73, 73, 131);
}
p{
  color: rgb(73, 73, 131); 
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

}